body {
    font-size: 16px;
}

.search-bar input {
    padding: 10px 10px !important;
    padding-left: 0px !important;
    padding-right: 36px !important;
}
.search-bar input:focus {
    padding: 10px 10px !important;
    padding-left: 0px !important;
    padding-right: 36px !important;
}
.search-bar input::placeholder {
    color: #000;
    opacity: 1;
}
.top-bar-item a {
    color: #fff;
    padding: 0;
}
.top-bar {
    padding: 10px 0;
}
.arrival-content h3 a {
    font-family: Tenor Sans,sans-serif;
}
.arrival-content h3 a:hover {
    text-decoration: unset;
    color: #000;
}
  .arrival-content .price {
    border: unset;
    padding: 0;
    margin: 10px auto;
    justify-content: space-evenly;
    font-size: 18px;
    color: #000;
}

.arrival-content .price del {
    text-decoration: line-through !important;
}